<div class="layout-topbar">
    <!-- <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
        <span>SAKAI</span>
    </a> -->

    <a class="layout-topbar-logo" routerLink="">
        <img src="https://media.licdn.com/dms/image/C560BAQFt_jR4SOofEg/company-logo_200_200/0/1641450147130/careerhubpoweredbybrac_logo?e=2147483647&v=beta&t=f4HcfMAxR98_WFXNwHNvne6_wsQn5d_MB8hOiFS61aw" alt="Sakai Logo" height="50" class="mr-0 lg:mr-2"><span class="text-900 font-medium text-2xl line-height-3 mr-8">CareerHub</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button> -->
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>
        <!-- <button class="p-link layout-topbar-button" (click)="openDialog()" >
            <i class="pi pi-cog"></i>
            <span>Add Entreprise</span>
        </button> -->
        <button class="p-link layout-topbar-button" [routerLink]="'/login'">
            <i class="pi pi-sign-out"></i>
            <span>Signup</span>
        </button>
    </div>
</div>