<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nouveau Responsable RH" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedResponsables()" [disabled]="!selectedResponsables || !selectedResponsables.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="responsables" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['lastName', 'firstName', 'cin', 'email', 'role']" [rowsPerPageOptions]="rowsPerPageOptions" [paginator]="true" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedResponsables" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gestion des Responsables RH</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Recherche..." class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="lastName">Nom <p-sortIcon field="lastName"></p-sortIcon></th>
                        <th pSortableColumn="firstName">Prénom <p-sortIcon field="firstName"></p-sortIcon></th>
                        <th pSortableColumn="cin">CIN <p-sortIcon field="cin"></p-sortIcon></th>
                        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="role">Role <p-sortIcon field="role"></p-sortIcon></th>
                        <th pSortableColumn="nom_Entreprise">Nom Entreprise <p-sortIcon field="nom_Entreprise"></p-sortIcon></th>
                        
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-responsable>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="responsable"></p-tableCheckbox>
                        </td>
                        <td>{{responsable.lastName}}</td>
                        <td>{{responsable.firstName}}</td>
                        <td>{{responsable.cin}}</td>
                        <td>{{responsable.email}}</td>
                        <td>{{responsable.role}}</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editResponsable(responsable)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteResponsable(responsable)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="responsableDialog" [style]="{width: '450px'}" header="Ajouter un responsable RH" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="lastName">Nom</label>
                    <input type="text" pInputText id="lastName" [(ngModel)]="responsable.lastName" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !responsable.lastName}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !responsable.lastName">Le nom est requis.</small>
                </div>
                <div class="field">
                    <label for="firstName">Prénom</label>
                    <input type="text" pInputText id="firstName" [(ngModel)]="responsable.firstName" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !responsable.firstName}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !responsable.firstName">Le prénom est requis.</small>
                </div>
                <div class="field">
                    <label for="cin">CIN</label>
                    <input type="text" pInputText id="cin" [(ngModel)]="responsable.cin" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !responsable.cin}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !responsable.cin">Le CIN est requis.</small>
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="email" pInputText id="email" [(ngModel)]="responsable.email" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !responsable.email}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !responsable.email">L'email est requis.</small>
                </div>
                <div class="field">
                    <label for="role">Role</label>
                    <input type="text" pInputText id="role" [(ngModel)]="responsable.role" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !responsable.role}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !responsable.role">Le rôle est requis.</small>
                </div>
                <div class="field">
                    <label for="nom_Entreprise">Nom Entreprise</label>
                    <input type="text" pInputText id="nom_Entreprise" [(ngModel)]="responsable.nom_Entreprise" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !responsable.nom_Entreprise}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !responsable.nom_Entreprise">Le nom de l'entreprise est requis.</small>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" (click)="saveResponsable()"></button>
            </ng-template>
        </p-dialog>
        

        <p-dialog [(visible)]="deleteResponsableDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="responsable">Etes-vous sûr de vouloir supprimer <b>{{responsable.lastName}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteResponsableDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteResponsablesDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Etes-vous sûr de vouloir supprimer les responsables sélectionnés</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteResponsablesDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
